<div class="wrapper">
    <div class="title">TheBlog is a platform both for authors who are just starting their journey and for experienced ones</div>
    <div class="link-button">
        <button (click)="openRegister()" >Try to became an author</button>
    </div>
    <div class="description">After you become an author on TheBlog, your life will change forever and you will only regret that you didn't become  one earlier!</div>
    <div class="inner-wrppaer">
        <div class="inner-title">
            <span>93 %</span> authors who started their path in TheBlog are very happy and recommend you to try it.
        </div>
        <div class="read-article">
            <div>
                <div class="read-title">
                    Here you can read articles and posts another authors and rate them.
                </div>
                <div class="link-see-button">
                    <button (click)="openAllArticles()" >See articles</button>
                </div>
            </div>
            <div class="read-img">
                <img src="../../../../../assets/about-us.png" alt="read article image">
            </div>

        </div>
    </div>
</div>




