.wrapper {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin: 1vw;
  .img {
    width: 3vw;
    height: 3vw;
  }
  .info {
    display: flex;
    flex-direction: column;
    .isOnline {
      color: green;
      font-size: 0.8vw;
      margin-bottom: 3px;
    }
    .username {
      font-size: 1vw;
    }
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}
