.radio-group {
  display: flex;
  margin: 15px 0;
 justify-content: center;
}

.radio-button {
  margin: 7px;
}
.button-close {
  margin: 10px 20px;
}
::ng-deep .mat-radio-container .mat-radio-outer-circle,
::ng-deep .mat-radio-container .mat-radio-inner-circle {
  border: none;
  width: 0;
}

i{
  margin-left: -30px;
}
