.wrapper {
  margin: 2vh 5vw;
  display: flex;

  .side-bar {
    position: sticky;
    top: 4vh;
    background-color: aliceblue;
    width: 15vw;
    height: 83vh;
    margin-right: 30px;
    border-radius: 20px;
    .info {
      margin: 3vh 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .image-user {
        width: 11vw;
        height: 11vw;
        margin-bottom: 1.5vh;
        &:hover {
          cursor: pointer;
        }
      }
      .username {
        font-size: 1vw;
        color: rgb(162, 158, 158);
        margin: 1.4vh 0;
      }
      .full-name {
        font-size: 1.2vw;
        margin: 1.5vh 0;
        word-wrap: break-word;
        line-height: 130%;
        text-align: center;
        font-weight: 500;
        margin-bottom: 50px;
      }
    }
    .links {
      margin: 1vh 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      height: 30%;
      font-size: 1.4vw;
      padding-left: 1vw;
      .link {
        border-radius: 10px;
        padding: 7px 5px;
        width: 90%;
        display: flex;
        align-items: center;
        color: rgb(83, 82, 82);
        mat-icon {
          margin-right: 10px;
          margin-bottom: 10px;
          font-size: 30px;
          padding: 5px;
          color: rgb(185, 3, 246);
        }
        &:hover {
          cursor: pointer;
          background-color: rgb(219, 216, 220);
        }
      }
      .active {
        box-shadow: 5px 20px 30px rgb(180, 172, 172);
        background-color: rgb(185, 3, 246);
        color: aliceblue;
        mat-icon {
          color: aliceblue;
        }
        &:hover {
          background-color: rgb(185, 3, 246);
          color: aliceblue;
        }
      }
    }
  }
  .content {
    width: 70vw;
    min-height: 83vh;
    background-color: aliceblue;
    border-radius: 20px;
  }
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 100%;
}
