<div class="wrapper">
    <div class="title">
        How can we help ?
    </div>
    <div class="info">
        <div >
            You can contact us by email: <span class="contact-info">theblog@gmail.com</span> 
        </div>
        <div >
            You can contact us by phone number: <span class="contact-info">+(380) 98 11 11 111</span> 
        </div>  
        <div >
            You can contact us by social networks.
        </div>  
    </div>
    <div class="cards">
        <div class="card">
            <div class="icon-card">
                <mat-icon>insert_drive_file</mat-icon>
            </div>
            <div class="title-card">
                Read our docs
            </div>
            <div class="description-card">
                Learn how to better use TheBlog...
            </div>
        </div>
        <div class="card">
            <div class="icon-card">
                <mat-icon>groups</mat-icon>
            </div>
            <div class="title-card">
                Ask the community
            </div>
            <div class="description-card">
                Ask the community your questions in comments and they will be happy to help
            </div>
        </div>
        <div class="card">
            <div class="icon-card">
                <mat-icon>tips_and_updates</mat-icon>
            </div>
            <div class="title-card">
                Share a tip
            </div>
            <div class="description-card">
                Help the community with your tips and examples
            </div>
        </div>
    </div>
</div>
