.card-article{
    border: 2px solid grey;
    width: 18vw;
    height: fit-content;
    padding: 1.5vw 1vw;
    border-radius: 2vw; 
    .info-wrapper{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    }
    .img{
        align-self: center;
        width: 12vw;
        height: 12vw;
    }
    .article-title{
        word-wrap: break-word;
        line-height: 110%;
        font-weight: 500;
        font-size: 1.3vw;
    }
    &:hover{
        cursor: pointer;
    }
    .genre-article{
        color: rgb(183, 184, 184);
        font-size: 0.9vw;
        margin: 0.5vw 0;
    }
    .author-article{
        font-size: 1vw;
        color: rgb(112, 112, 112);
        margin: 0.6vw 0;
    }
    .date{
        font-size: 0.9vw;
        color: rgb(163, 163, 163);        
    }
    .buttons{
        margin-top: 1vh;
        display: flex;
        justify-content: space-around;
    }
    
}
img{
    height: 100%;
    width: 100%;
    border-radius: 2vw;
    object-fit: cover;
}
